.vscode/
*.env
settings.json
../backend/.env
../backend/__pycache__/
../backend/venv/
../frontend/node_modules/
../frontend/.next/
../backend/.cache/
../frontend/.cache/
../frontend/.env.local
../frontend/.env.development.local
../frontend/.env.production.local
../frontend/.env.test.local
../frontend/.env
../frontend/.env.development
../frontend/package-lock.json
../frontend/package.json
package-lock.json
package.json
__pycache__/