
.allTimeWrapper {
    gap: 2rem;
}

.allTimeBox {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 1220px;
    margin-bottom: 2rem;
}


.title {
    font-size: 1.3rem;
    width: max-content;
    border-block-end: 2px solid rgb(89, 89, 243);
    font-weight: 600;
    margin-block-end: .5rem;
}

.heartIcon {
    color: blue;
}

@media  (min-width: 45rem) {
    .allTimeBox {
        /* flex-direction: row; */
        /* height: auto; */
    }

    .title {
        font-size: 1.5rem;
    }
}

.calendar {
    flex: 0 0 auto;
    border-radius: 10px;
    /* color: var(--spotify-color); */
    height: max-content;
    width: max-content;
}

.result {
    border-radius: 10px;
    flex: 1;
    padding: .5rem;
    min-height: 800px;
    /* max-height: 700px; */
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    transition: all 1s ease-in;
}

.boxLabel {
    font-weight: 600;
    font-size: 1rem;
}

.resultSongsBox {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: .5rem;
    overflow: hidden;
    min-height: 80px;
    transition: all 1s ease-in;
}

.playlistList {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #555 #111;
}

.playlistList p:not(:first-child) {
    padding-top: 3rem;
}

.playlistImage {
    width: 6rem;
    height: auto;
    aspect-ratio: 1;
    border-radius: 10px;
}

.playlistImageFallback {
    background-color: transparent;
}

.songsList{
    padding: .5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}

.songList > * {
    min-width: 0;
    min-height: 0;
}

@media (max-width: 350px) {
    .songsList {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

.customScroll::-webkit-scrollbar {
    width: 5px;
}

.customScroll::-webkit-scrollbar-track {
    background: #111;
}

.customScroll::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 10px;
    border: 2px solid #111;
}

.customScroll::-webkit-scrollbar-thumb:hover {
    background-color: #888;
}
