.createPlaylistButton  {
    height: 100%;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: .5rem;
    transition: all .5s ease;
    border: .5px solid gray;
}

.createPlaylistIcon {
    color: #1ED760;
}

.createPlaylistButton:hover,
.createPlaylistButton:focus {
    border: 1px solid #1ED760 ;
    color: #0eb549;
}

.popoverTrigger {
    height: 100%;
}

.popoverContent {
    width: 300px;
    background-color: black;
    border: none;
}

.formWrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
}

.formWrapper > input:focus {
    outline: none;
}

.fontWrapper > * {
    border-radius: 10px;
}

.formWrapper > label {
    color: lightgray;
    font-size: 1rem;
}

.input, .textarea {
    border: .5px solid #1ED760;
    height: 30px;
    font-family: "Onest", "sans-serif";
    color: white;
    border-radius: 10px;
    font-size: 1rem;
}

.input {
    text-indent: .8rem;
    min-height: 40px;
}

.textarea {
    resize: none;
    padding: .8rem;
    min-height: 70px;
}

.textarea:focus {
    outline: none;
}

.createButton {
    background-color: #1ED760;
    color: black;
    font-family: "Onest", "sans-serif";
    min-height: 35px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 600;
}

.createButton:hover {
    background-color: #0eb549;
}

.buttonIcon {
    font-size: 1.5rem;
}